body {
    font-family: 'Lato', sans-serif;
    color: #191a1e;
    background-image: url('../Images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section {
    position: relative;
    height: 100vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-box {
    position: relative;
    background: #fff;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 25px 25px 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.submit-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 4px;
}

.submit-btn:hover, .submit-btn:focus {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.form-label {
    opacity: 0.8;
}

::-webkit-input-placeholder {
    opacity: 0.6 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.6 !important;
}

.side-text h1 {
    font-size: 52px;
    text-transform: uppercase;
}

.side-text p {
    font-size: 22px;
}

.custom-link:hover, .custom-link:focus, .custom-link:active {
    text-decoration: none;
}

#LoginForm input:focus {
    background-color: rgba(244,244,244,1.00)
}

.form-footer {
    margin-top: 10px
}

.input-validation-error {
    border-color: red !important;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.has-error .form-control-feedback {
    color: #a94442;
}

.error {
    color: #a94442;
}

.success .help-block,
.success .control-label,
.success .radio,
.success .checkbox,
.success .radio-inline,
.success .checkbox-inline,
.success.radio label,
.success.checkbox label,
.success.radio-inline label,
.success.checkbox-inline label {
    color: #28a745;
}

.success .form-control {
    border-color: #28a745;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.success .form-control:focus {
    border-color: #23933d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.success .input-group-addon {
    color: #28a745;
    background-color: #f2dede;
    border-color: #28a745;
}

.success .form-control-feedback {
    color: #28a745;
}

.success input {
    background: url(../Images/checked-green.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px 15px;
    padding-right: 30px !important;
}

.edit-btn {
    height: 25px;
    font-size: 12px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
}