.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('../Images/bg.jpg');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.main-box {
	position: relative;
	background: #fff;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding: 25px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.main-box .form-group {
	position: relative;
	margin-bottom: 20px;
}

.main-box .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.main-box .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.main-box .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.main-box .form-control::placeholder {
	color: #dfe5e9;
}

.main-box .form-control:focus {
	background: #f9fafb;
}

.main-box input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.main-box select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.main-box select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.main-box select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.main-box .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
}

.main-box .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.main-box .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

.main-box .form-checkbox label+label {
	margin-left: 15px;
}

.main-box .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.main-box .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.main-box .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.main-box .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.main-box .submit-btn {
	color: #fff;
	background-color: #4fa3e3;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}

.main-box .submit-btn:hover, .submit-btn:active, .submit-btn:focus {
	background-color: #238cdc;
}

.booking-cta {
	margin-top: 0px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #4fa3e3;
	font-weight: 400;
}

.booking-cta p {
	font-size: 22px;
	color: #191a1e;
}

.nav-list-item {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-list-item a {
	color: white !important;
}

.nav-list-item a:hover {
	color: white !important;
	opacity: 0.7;
}

.edit-btn {
	height: 25px;
	font-size: 12px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}

.personal-info td{
	padding-right: 50px; 
}

@media (max-width: 575.98px) {
  	.edit-btn {
		float: left;
		margin-bottom: 10px;
	}
}

.custom-link:hover, .custom-link:focus, .custom-link:active {
	text-decoration: none;
}