
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageStyles
{
    <link href="~/Styles/jquery-confirm.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        @@media (min-width: 768px) {
            .main-box {
                width: 50%;
            }
        }
    </style>
}
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="main-box">
                        <h3>Change Your Password</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Current Password</span>
                                    @Html.Password("CurrentPassword", null, new { @class = "form-control", @placeholder = "Current Password" })
                                    <p id="CurrentPasswordMsg" class="text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">New Password</span>
                                    @Html.Password("NewPassword", null, new { @class = "form-control", @placeholder = "New Password" })
                                    <p id="NewPasswordMsg" class="text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Repeat New Password</span>
                                    @Html.Password("RepeatNewPassword", null, new { @class = "form-control", @placeholder = "Repeat New Password" })
                                    <p id="RepeatNewPasswordMsg" class="text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="text-danger" style="display: block; text-align: center" id="ErrorMsg"></span>
                            <span class="text-danger" style="display: block; text-align: center" id="SuccessMsg"></span>
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn" id="ChangePasswordBtn">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts
{
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script>
        $(document).ready(function () {
            var curPass = "";
            var newPass = "";
            var repNewPass = "";

            $("#CurrentPassword").keyup(function () {
                curPass = this.value;
            })
            $("#NewPassword").keyup(function () {
                newPass = this.value;
            })
            $("#RepeatNewPassword").keyup(function () {
                repNewPass = this.value;
            })

            $('#ChangePasswordBtn').on('click', function () {
                if (curPass == "") {
                    $('#CurrentPasswordMsg').html("Enter your current password.")
                }
                if (newPass == "") {
                    $('#NewPasswordMsg').html("Enter your new password.")
                }
                if (repNewPass == "") {
                    $('#RepeatNewPasswordMsg').html("Enter your new password again.")
                }
                if (curPass != "" && newPass != "" && repNewPass != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ChangePasswordAjax")',
                        dataType: 'json',
                        data: { curPass: curPass, newPass: newPass, repNewPass: repNewPass },
                        success: function (data) {
                            $.confirm({
                                title: "Error!",
                                type: 'red',
                                icon: 'fas fa-exclamation-triangle',
                                backgroundDismiss: true,
                                content: data,
                                buttons: {
                                    ok: {
                                        action: function() {
                                            if (data == "Password changed succesfully.") {
                                                window.location.replace("/User/Index");
                                            }
                                        },
                                        btnClass: 'btn-blue',
                                    },
                                },
                            });
                        }
                    });
                }
            });
        });
    </script>
}

