
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var v in ViewBag.List)
    {
        <tr>
            <td>@v.Id</td>
            <td>@v.Name</td>
            <td>@v.Email</td>
        </tr>
    }
</table>